/* MERTT Website Styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family:monospace;
        background-color: #536866;
        color: white;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #2C3333;
    }

    nav .logo {
        font-size: 24px;
        font-weight: bold;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        color:#dbe9f3;
        text-decoration: none;
        font-size: 18px;
    }

    nav ul li a:hover {
        color: #99a8a9;
    }

    h1 {
        text-align: center;
        margin: 40px 0;
    }

    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #2C3333;
        border-radius: 8px;
    }

    section h2 {
        margin-bottom: 20px; 
    }

    section p {
        line-height: 1.6;
    }

    